@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.fullscreen {
  min-height: 100vh;
  background: url("../img/Fullscreen.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  padding: 45px 20px 0 20px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 25px;
  font-family: "Big John", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.48;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: right;
}
.nav__item {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin: 0 0 0 27px;
  letter-spacing: 1px;
}
.nav__item--active {
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0;
  padding: 0 10px;
}
.nav__link {
  color: #fff;
}
@media (max-width: 710px) {
  .nav {
    display: none;
  }
}

.burger {
  display: none;
  width: 50px;
}
.burger span {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #fff;
  transition: width 0.3s ease-in;
  margin: 0 auto;
}
.burger span + span {
  margin-top: 6px;
}
.burger__2 {
  background-color: transparent !important;
  position: relative;
}
.burger__2:before, .burger__2:after {
  content: "";
  transition: all 0.3s ease-in;
  position: absolute;
  display: block;
  height: 5px;
  width: 50px;
  background-color: #fff;
}
.burger.open .burger__1,
.burger.open .burger__3 {
  width: 0 !important;
}
.burger.open .burger__2:before {
  transform: rotate(45deg);
}
.burger.open .burger__2:after {
  transform: rotate(-45deg);
}
@media (max-width: 710px) {
  .burger {
    display: block;
  }
}

.sidebar {
  transform: translateX(-200px);
  transition: all 0.3s ease-in;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #fff;
  color: #181818;
  padding: 20px;
  z-index: 5;
}
.sidebar ul li a {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.sidebar ul li a:active {
  color: #000;
}
.sidebar.open {
  transform: translateX(0px);
}

.banner {
  max-width: 610px;
  margin: 0 auto;
  padding-top: 250px;
}
.banner__title {
  text-align: center;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 10px;
}
.banner__text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
}

.small-container {
  max-width: 490px;
  margin: 0 auto;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

.big-container {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(56, 61, 71);
  text-transform: uppercase;
  line-height: 0.6;
}

.btn {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 61, 71);
  font-weight: bold;
  line-height: 0.75;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.subtitle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(72, 72, 72);
  font-weight: bold;
  line-height: 0.6;
}

.about {
  margin: 81px 0 0 0;
}
.about__details {
  margin-top: 165px;
}

.bouncy {
  display: flex;
  justify-content: space-between;
}
.bouncy__column {
  width: 488px;
}
.bouncy__text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
  padding-top: 37px;
}
.bouncy__button {
  padding-top: 37px;
}
.details__title {
  text-align: center;
}
.details__text {
  margin-top: 39px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
  padding-top: 37px;
  text-align: center;
}
.details__row {
  margin-top: 59px;
  display: flex;
  justify-content: center;
  gap: 27px;
}
.details__icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81858c;
}
.details__icon:hover {
  background-color: #6cbc9a;
}

.creative__subtitle {
  margin: 45px 0;
}
.creative__row {
  display: flex;
  justify-content: space-between;
}
.creative__text {
  max-width: 325px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
.creative__text2 {
  margin-left: 134px;
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}

/*# sourceMappingURL=CSS.css.map */
