@import "Nullstyle.scss";

.wrapper{

}
html,
body {
  overflow-x: hidden;
}
.container{
  max-width: 1366px;
  margin: 0 auto;
}


.fullscreen{
    min-height: 100vh;
    background: url("../img/Fullscreen.png") center center no-repeat;
    background-size: cover ;
    position: relative;
}
.header{
  padding: 45px 20px 0 20px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  &__logo{
      font-size: 25px;
      font-family: "Big John",sans-serif;
      color: rgb(255, 255, 255);
      line-height: 0.48;
      text-align: center;
  }
}
.nav {
  display: flex;
  justify-content: right;
  &__item {
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    margin: 0 0 0 27px;
    letter-spacing: 1px;
    &--active {
      border: 1px solid #fff;
      border-radius: 10px;
      margin: 0;
      padding: 0 10px;
    }
  }
  &__link {
    color: #fff;
  }
  @media (max-width: 710px) {
    display: none;
  }
}
.burger {
  display: none;
  width: 50px;
  span {
    display: block;
    height: 5px;
    width: 50px;
    background-color: #fff;
    transition: width .3s ease-in;
    margin: 0 auto;
  }

  span + span {
    margin-top: 6px;
  }
  &__2 {
    background-color: transparent !important;
    position: relative;
    &:before,
    &:after {
      content: "";
      transition: all .3s ease-in;
      position: absolute;
      display: block;
      height: 5px;
      width: 50px;
      background-color: #fff;
    }
  }
  &.open {
    .burger__1,
    .burger__3 {
      width: 0 !important;
    }
    .burger__2 {
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  @media (max-width: 710px) {
    display: block;
  }
}
.sidebar {
  transform: translateX(-200px);
  transition: all .3s ease-in;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #fff;
  color: #181818;
  padding: 20px;
  z-index: 5;
  ul {
    li {
      a {
        font-size: 18px;
        font-family: "Oswald", sans-serif;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        &:active {
          color: #000;
        }
      }
    }
  }
  &.open {
    transform: translateX(0px);
  }
}
.banner {
  max-width: 610px;
  margin: 0 auto;
  padding-top: 250px;
  &__title {
    text-align: center;
    font-size: 35px;
    font-family: "Source Sans Pro",sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 10px;
  }
   &__text {
       font-size: 16px;
       font-family: "Open Sans",sans-serif;
       color: rgb(255, 255, 255);
       font-weight: bold;
       line-height: 1.75;
       text-align: center;
   }
}





.small-container{
  max-width: 490px;
  margin: 0 auto;
}
.container{
  max-width: 840px;
  margin: 0 auto;
}
.big-container{
  max-width: 960px;
  margin: 0 auto;
}
.title{
    font-size: 20px;
    font-family: "Source Sans Pro",sans-serif;
    color: rgb(56, 61, 71);
    text-transform: uppercase;
    line-height: 0.6;
}
.btn{
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: rgb(56, 61, 71);
    font-weight: bold;
    line-height: 0.75;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}
.subtitle{
    font-size: 20px;
    font-family: "Open Sans",sans-serif;
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 0.6;

}
.about{
  margin: 81px 0 0 0;
  &__details{
    margin-top: 165px;
  }
}
.bouncy{

  display: flex;
  justify-content: space-between;
  &__column{
    width: 488px;
  }
  &__title{

  }
  &__text{
      font-size: 14px;
      font-family: "Open Sans",sans-serif;
      color: rgb(129, 133, 140);
      font-weight: bold;
      line-height: 1.786;
      padding-top: 37px;
  }
  &__button{
    padding-top: 37px;

  }
  &__img{

  }
}
.details{

  &__title{
    text-align: center;
  }
  &__row{

  }

  &__text{
    margin-top: 39px;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: rgb(129, 133, 140);
    font-weight: bold;
    line-height: 1.786;
    padding-top: 37px;
    text-align: center;
  }
  &__row{
    margin-top: 59px  ;
    display: flex;
    justify-content: center;
    gap: 27px;
  }
  &__icon{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #81858c;
    &:hover{
      background-color: #6cbc9a;
    }
  }
}
.creative{
  &__subtitle{
  margin: 45px 0;
  }
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__text{
    max-width: 325px;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: rgb(129, 133, 140);
    font-weight: bold;
    line-height: 1.786;
  }
  &__text2{
    margin-left: 134px;
    display: inline-block;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: rgb(129, 133, 140);
    font-weight: bold;
    line-height: 1.786;
  }
}
.featured{
  &__title{

  }
  &__text{

  }
}