@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.fullscreen {
  min-height: 100vh;
  background: url("../img/Fullscreen.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.btn__anim:hover{
  position: relative;
  top: 2px;
  left: 0;
  border-bottom: 2px solid #000;
}
.header {
  padding: 45px 20px 0 20px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 25px;
  font-family: "Big John", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.48;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: right;
}
.nav__item {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin: 0 0 0 27px;
  letter-spacing: 1px;
}
.nav__item--active {
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0;
  padding: 0 10px;
}
.nav__link {
  color: #fff;
}
@media (max-width: 710px) {
  .nav {
    display: none;
  }
}

.burger {
  display: none;
  width: 50px;
}
.burger span {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #fff;
  transition: width 0.3s ease-in;
  margin: 0 auto;
}
.burger span + span {
  margin-top: 6px;
}
.burger__2 {
  background-color: transparent !important;
  position: relative;
}
.burger__2:before, .burger__2:after {
  content: "";
  transition: all 0.3s ease-in;
  position: absolute;
  display: block;
  height: 5px;
  width: 50px;
  background-color: #fff;
}
.burger.open .burger__1,
.burger.open .burger__3 {
  width: 0 !important;
}
.burger.open .burger__2:before {
  transform: rotate(45deg);
}
.burger.open .burger__2:after {
  transform: rotate(-45deg);
}
@media (max-width: 710px) {
  .burger {
    display: block;
  }
}

.sidebar {
  transform: translateX(-200px);
  transition: all 0.3s ease-in;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #fff;
  color: #181818;
  padding: 20px;
  z-index: 5;
}
.sidebar ul li a {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.sidebar ul li a:active {
  color: #000;
}
.sidebar.open {
  transform: translateX(0px);
}

.banner {
  max-width: 610px;
  margin: 0 auto;
  padding-top: 250px;
}
.banner__title {
  text-align: center;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 10px;
}
@media (max-width: 450px) {
  .banner__title {
    font-size: 25px;
  }
}
.banner__text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
}
@media (max-width: 450px) {
  .banner__text {
    font-size: 12px;
  }
}

.small-container {
  max-width: 490px;
  margin: 0 auto;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

.big-container {
  max-width: 1031px;
  margin: 0 auto;
}

.large-container {
  max-width: 1366px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(56, 61, 71);
  text-transform: uppercase;
  line-height: 0.6;
}

.btn {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 61, 71);
  font-weight: bold;
  line-height: 0.75;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  height: 37px;
  width: 140px;
  text-align: center;
  border-bottom: 4px solid #000;
  position: relative;
  top: 0;
  left: 0;
}

.subtitle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(72, 72, 72);
  font-weight: bold;
  line-height: 0.6;
}

.about {
  margin: 81px 0 0 0;
}
.about__details {
  margin-top: 165px;
}
@media (max-width: 450px) {
  .about__details {
    margin-top: 30px;
  }
}
.bouncy {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .bouncy {
    flex-direction: column;
    justify-content: start;
    padding: 10px;
  }
}
.bouncy__column {
  max-width: 488px;
}
@media (max-width: 450px) {
  .bouncy__title {
    text-align: center;
  }
}
.bouncy__text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
  padding-top: 37px;
}
.bouncy__button {
  margin-top: 40px;
  /* padding-top: 37px;   */
}
@media (max-width: 450px) {
  .bouncy__button {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .bouncy__img {
    padding-top: 20px;
    text-align: center;
  }
}

.details__title {
  text-align: center;
}
.details__text {
  margin-top: 39px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
  padding-top: 37px;
  text-align: center;
}
@media (max-width: 450px) {
  .details__text {
    margin-top: 20px;
  }
}
.details__row {
  margin-top: 59px;
  display: flex;
  justify-content: center;
  gap: 27px;
}
.details__icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81858c;
}
.details__icon:hover {
  background-color: #6cbc9a;
}

.creative__subtitle {
  margin: 45px 0;
}
.creative__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .creative__row {
    flex-direction: column;
    justify-content: start;
  }
}
.creative__text {
  max-width: 325px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
.creative__text2 {
  margin-left: 134px;
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
@media (max-width: 450px) {
  .creative__text2 {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .creative {
    padding: 10px;
  }
}

.featured {
  margin-top: 180px;
}
@media (max-width: 450px) {
  .featured {
    margin-top: 30px;
  }
}
.featured__title {
  text-align: center;
}
.featured__text {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}

.works__img-1 {
  background-image: url("../img/Img1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 50%;
}

.works__img-2 {
  background-image: url("../img/Img2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 25%;
}

.works__img-3 {
  background-image: url("../img/Img3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 25%;
}

.works {
  margin-top: 60px;
}
.works__row {
  display: flex;
}
.works__img {
  height: 319px;
  position: relative;
  z-index: 1;
  background-blend-mode: multiply;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 319px;
  text-align: center;
}
.works__img span {
  visibility: hidden;
}
.works__img:hover {
  background-color: rgba(43, 43, 43, 0.8);
  position: relative;
  z-index: 2;
  transition: 0.4s;
}
.works__img:hover span {
  visibility: visible;
}
.submit {
  background: url("../img/Img4.png") center no-repeat;
  height: 113px;
  display: flex;
}
.submit__row {
  padding: 40px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  width: 1030px;
  margin: 0 auto;
}
@media (max-width: 450px) {
  .submit__row {
    padding-top: 10px;
    flex-direction: column;
    text-align: center;
  }
}
.submit__text {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.submit__button {
  color: #fff;
  border-color: #fff;
  white-space: nowrap;
  margin: 0 auto;
}

.our {
  margin-top: 74px;
}
.our__title {
  text-align: center;
}
.our__text {
  margin-top: 35px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
  text-align: center;
}

.graphic {
  position: relative;
}
.graphic__row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 840px) {
  .graphic__row {
    flex-direction: column;
    justify-content: space-around;
  }
}
.graphic__item {
  margin: 10px 0 0 44px;
}
@media (max-width: 450px) {
  .graphic__item {
    margin: 5px 0 0 7px;
  }
}
.graphic__info {
  max-width: 500px;
  display: flex;
}
.graphic__text {
  margin-top: 35px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
.graphic__text2 {
  margin-top: 35px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
.graphic__percent {
  display: flex;
  justify-content: space-between;
}
.graphic__circle {
  height: 122px;
  width: 122px;
  border: 4px solid #6cbc9a;
  border-radius: 50%;
  text-align: right;
  margin-top: 50px;
}
.graphic__circle p {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 90px;
  position: relative;
  top: 10px;
  left: -30px;
}
.graphic__circle p span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.563;
}
.graphic__circle + .graphic__circle {
  margin-left: 40px;
}
@media (max-width: 840px) {
  .graphic__circle {
    margin-top: 40px;
  }
  .graphic__circle + .graphic__circle {
    margin-left: 0;
  }
}

.graphic__icon + .graphic__icon {
  margin-top: 17px;
}

.impressed {
  height: 392px;
  background-image: url("../img/Layer 4.png");
  margin-top: 150px;
}
.impressed__row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.impressed__info {
  color: #ffffff;
}
.impressed__title {
  padding-top: 80px;
  color: #fff;
}
.impressed__text {
  margin-top: 57px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
.impressed__text2 {
  margin-top: 32px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
}
.impressed__img {
  position: relative;
  top: -40px;
}
@media (max-width: 840px) {
  .impressed__img {
    position: relative;
    top: 20px;
  }
}
@media (max-width: 760px) {
  .impressed__img {
    display: none;
  }
}
@media (max-width: 760px) {
  .impressed {
    margin-top: 50px;
  }
}

.portfolio {
  margin-top: 80px;
}
.portfolio__title {
  text-align: center;
}
.portfolio__text {
  margin-top: 41px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(129, 133, 140);
  font-weight: bold;
  line-height: 1.786;
  text-align: center;
}
.portfolio__menu {
  max-width: 616px;
  margin: 80px auto 0 auto;
}
.portfolio__menu ul {
  display: flex;
  justify-content: space-between;
}
.portfolio__menu ul li {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(72, 72, 72);
  font-weight: bold;
  line-height: 0.75;
}
.portfolio__grid {
  max-width: 1110px;
  margin: 75px auto 0 auto;
}
.portfolio__banner {
  max-width: 1110px;
  margin: 0 auto;
  background-image: url("../img/Layer 101.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -100px;
}

.banner__body {
  padding: 10px 0;
}

.banner__text {
  text-align: center;
  padding-top: 60px;
}

.banner__button {
  color: #fff;
  border-color: #fff;
  margin: 32px 0 60px 0;
  text-align: center;
}

.grid {
  display: inline-block;
}
.grid img {
  padding: 2px;
  display: inline-block;
}
.grid-img6 {
  position: relative;
  top: -130px;
}
.grid-img7 {
  position: relative;
  top: -57px;
}
.grid-img9 {
  position: relative;
  top: -5px;
}
.grid-img10 {
  position: relative;
  top: -158px;
}
.grid-img11 {
  position: relative;
  top: -54px;
}
.grid-img12 {
  position: relative;
  top: -99px;
}
@media (max-width: 1106px) {
  .grid-img5 {
    position: relative;
    top: -130px;
  }
  .grid-img6 {
    position: relative;
    top: -55px;
  }
  .grid-img7 {
    position: relative;
    top: 3px;
  }
  .grid-img8 {
    position: relative;
    top: -128px;
  }
  .grid-img8 {
    position: relative;
    top: -128px;
  }
  .grid-img9 {
    position: relative;
    top: -67px;
  }
  .grid-img10 {
    position: relative;
    top: 8px;
    visibility: hidden;
  }
  .grid-img11 {
    position: relative;
    top: -230px;
  }
  .grid-img12 {
    position: relative;
    top: -228px;
  }
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.8);
}
.modal__item {
  width: 400px;
  height: 400px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 20px;
}
.modal__title {
  text-align: center;
  font-size: 25px;
}
.modal__text {
  padding: 10px;
  font-size: 18px;
}
.modal__button {
  display: block;
  margin: 80px auto;
}

.modal__close {

}
.modal__close::after {
  height: 1px;
  width: 10px;
  color: #000;
}
.modal__close::after {
  height: 4px;
  width: 10px;
  color: #000;
}
.show {
  display: block;
  overflow: hidden;
}
.hide {
  display: none ;
}




/*# sourceMappingURL=CSS.css.map */
